html,body{
width: 100%
height:100%;
}

.center{
text-align: center;
margin-top: -13vw;
}
.menu{
	display: flex;
	justify-content: space-between;
}
.img{
height: 50%;
width: 50%;
}
.img2{
height: 20%;
width: 20%;
}

.img3{
height: 20%;
width: 20%;
text-align: right;
}
.li{
vertical-align: middle;
}
.logoleft
{
height: 80px;
width: 356px;
vertical-align: top;

}

.logoright
{
height: 80px;
width: 356px;
vertical-align: top;
text-align: right;
}